*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #080808;
    color: #fff;
}

#header{
    height: 100vh;
    background: url(images/background_.png) no-repeat center center fixed;
    background-size: cover;
    background-position: right;
}

.container{
    padding: 10px 10%;
}

#header .container nav{
    top: 20px;
    right: 20px;
    position: absolute;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
}

#languages img{
    width: 50px;
    height: 50px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
   width: 100%;
}

.header-text{
    position: absolute;
    bottom: 20%;
    font-size: 30px;
}

.header-text h1{
    margin-top: 20px;
    font-size: 60px;
}

.header-text p span {
    color: #ff004f;
}

/* --- Services --- */
#sevices{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 30px;
    transition: 0.5s;
    align-items: center;
    justify-content: center;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}

#services {
    cursor: pointer;
}

.clickable-div {
    cursor: pointer; /* Change the cursor to indicate it's clickable */
    width: 200px; /* Set a fixed width for the square divs */
    height: 200px; /* Set a fixed height for the square divs */
    margin: 10px; /* Add some margin for spacing */
    display: inline-flex; /* Display divs inline */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    background-size: 100% 100%; /* Resize background image to cover the entire div */
}

.logo {
    max-width: 100%;
    height: 100%;
}
